{% include "marketing/components/hero/.njk" %}
 
{% set videoId = "S9RePis7sbo" %}
{% include "marketing/components/youtube-lite/.njk" %}

<div class="feature">
  <h2>About us</h2>

  <p>
    Passionately committed to helping individuals take charge of their digital journey, our organization is here to support you every step of the way. Through easy-to-follow tutorials and guides, we make self-hosting applications a breeze, empowering you to navigate the tech world with confidence. What's more, we create open-source tools that enhance your experience, making self-hosting not just possible but also rewarding and accessible for everyone in our community.
  </p>
</div>

<div class="feature">
<h2>What does PageKey do?</h2>
<p>We'll give you plenty of free content to get you started on your tech journey.</p>
<div>
<!-- icon: 'flat-color-icons:document', -->
<h3>Tutorials and Guides</h3>
<p>We offer clear instructions on how to use various open source technologies, old and new.</p>
</div>
<div>
<!-- icon: 'flat-color-icons:template', -->
<h3>Open Source Products</h3>
<p>We create products that allow you to dive into the code, learn how they work, and manage your own data.</p>
</div>
<div>
<!-- icon: 'flat-color-icons:voice-presentation', -->
<h3>Community</h3>
<p>Join our Discord and chat with like-minded individuals. Keep an eye out for PageKey hackathons too!</p>
</div>
</div>

<div class="feature">
<h2>Let's get in touch.</h2>
<p>We want you to get involved in any way you see fit.</p>

<div>
  <h3>YouTube</h3>
  <a>Watch and comment</a>
</div>
<div>
  <h3>Email</h3>
  <a>Write to us</a>
</div>
<div>
  <h3>Chat on Discord</h3>
  <a>Start chatting</a>
</div>
<div>
  <h3>GitHub</h3>
  <a>Discuss and contribute</a>
</div>
</div>

<div class="feature">
  <h2>Be a part of the vision.</h2>
  <p>Discover a community of like-minded individuals taking control of the tech in their lives.</p>
  <a>Join us</a>
</div>
