/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #ff0000;
		--color-gray-50: rgb(203, 213, 225);
		--color-gray-90: white;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: rgb(3 6 32);
	}
}

/* html/body */
html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

/* links */
a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

/* features */
.feature {
	text-align: center;
	padding: 1rem 2rem;
}
.feature h2 {
	font-size: 1.875rem;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1;
	margin: 0;
}
.feature p {
	color: rgba(229, 236, 246, 0.66);
	font-size: 1.25rem;
	letter-spacing: -0.025em;
	margin-bottom: 3rem;
}

/* footer */
footer {
	color: rgba(229, 236, 246, 0.66);
	font-size: 0.875rem;
	padding: 1.5rem 1.5rem;
	text-align: center;
}
