---
layout: marketing/layout.njk
---

{% include "marketing/components/hero/.njk" %}

<div class="feature lightblue">
  <h2>About us</h2>

  <p>
    Passionately committed to helping individuals take charge of their digital journey, our organization is here to support you every step of the way. Through easy-to-follow tutorials and guides, we make self-hosting applications a breeze, empowering you to navigate the tech world with confidence. What's more, we create open-source tools that enhance your experience, making self-hosting not just possible but also rewarding and accessible for everyone in our community.
  </p>
</div>

<div class="feature lightblue">
  <h2>What does PageKey do?</h2>
  <p>We'll give you plenty of free content to get you started on your tech journey.</p>
  <div class="cards">
    <div class="card">
      <div class="icon">
        {% include "marketing/icons/document.svg" %}
      </div>
      <h3>Tutorials and Guides</h3>
      <p>We offer clear instructions on how to use various open source technologies, old and new.</p>
    </div>
    <div class="card">
      <div class="icon">
        {% include "marketing/icons/template.svg" %}
      </div>
      <h3>Open Source Products</h3>
      <p>We create products that allow you to dive into the code, learn how they work, and manage your own data.</p>
    </div>
    <div class="card">
      <div class="icon">
        {% include "marketing/icons/voice_presentation.svg" %}
      </div>
      <h3>Community</h3>
      <p>Join our Discord and chat with like-minded individuals. Keep an eye out for PageKey hackathons too!</p>
    </div>
  </div>
</div>

<div class="feature">
  <h2>Let's get in touch.</h2>
  <p>We want you to get involved in any way you see fit.</p>

  <div class="contacts">
    <a class="contact" href="https://youtube.com/@PageKey" target="_blank">
      <div class="left">
        <div class="icon">
          {% include "marketing/icons/brand-youtube.svg" %}
        </div>
      </div>
      <div class="right">
        <h3>YouTube</h3>
        <span>Watch and comment</span>
      </div>
    </a>
    <a class="contact" href="mailto:hello@pagekey.io" target="_blank">
      <div class="left">
        <div class="icon">
          {% include "marketing/icons/mail.svg" %}
        </div>
      </div>
      <div class="right">
        <h3>Email</h3>
        <span>Write to us</span>
      </div>
    </a>
    <a class="contact" href="https://discord.gg/5m5yFgDPF5" target="_blank">
      <div class="left">
        <div class="icon">
          {% include "marketing/icons/brand-discord.svg" %}
        </div>
      </div>
      <div class="right">
        <h3>Discord</h3>
        <span>Chat with us</span>
      </div>
    </a>
    <a class="contact" href="https://github.com/pagekey" target="_blank">
      <div class="left">
        <div class="icon">
          {% include "marketing/icons/brand-github.svg" %}
        </div>
      </div>
      <div class="right">
        <h3>GitHub</h3>
        <span>Discuss and contribute</span>
      </div>
    </a>
  </div>
</div>

<div class="feature">
  <h2>Be a part of the vision.</h2>
  <p>Discover a community of like-minded individuals taking control of the tech in their lives.</p>
  <a class="btn primary" href="/signup">Join us</a>
</div>
