---
layout: marketing/layout.njk
---

<h1>
    Sign Up
</h1>

<div class="feature">
  <h2>Be the first to know.</h2>

  <p>
    Sign up for the email newsletter and receive new PageKey content directly to your inbox.
  </p>
  <div class="">
    <input name="email" placeholder="your@email.com" />
  </div>
  <a class="btn primary">Sign Up</a>
</div>

<div class="feature">
  <h2>Join the community.</h2>

  <p>
    Check out the Discord and make some friends with other people who want to Take Back Tech.
  </p>
  <div style="display: flex; justify-content: center;">
    <a class="btn secondary" style="display: flex;">
        <span style="margin: 0 0.5rem;">
            Join
        </span>
        <img src="/icons/brand-discord.svg" eleventy:optional="keep" />
    </a>
  </div>
</div>

<style>
h1 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1;
	margin: 3rem;
    text-align: center;
}
</style>